@import "../color";
@import "../fonts";

.color_bleu {
    top: 584px;
    left: 100px;
    width: 252px;
    height: 40px;
    color: $dark-blue;
    opacity: 1;
    text-align: left;
    font-family: $circularSdt;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0px;
}

.accordeon {
    margin-left: 100px;
}

.accordion {
    color: $dark-blue;
    font-family: $circularSdtBold;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    padding: 18px;
    font-size: 20px;
    padding-left: 0;
}

.panel {
    color: $gray;
    font-family: $circularSdt;
    padding: 0 18px;
    background-color: #fff;
    display: none;
    overflow: hidden;
    max-height: 20;
    transition: max-height 0.2s ease-out;
    font-size: 20px;
}

.active, .accordion:hover {
    background-color: #fff;
    display: block;
}

.accordion:after {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: $red;
    float: left;
    margin-right: 10px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}