@import "../color.scss";
@import "../fonts.scss";

.color_bleu {
    top: 584px;
    left: 100px;
    width: 252px;
    height: 40px;
    color: $dark-blue;
    opacity: 1;
    text-align: left;
    font-family: $circularSdt;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0px;
}

h1 {
    font-family: $hirolley;
    color: $red;
    padding-bottom: 50px;
}

.faq_h2 {
    padding-top: 50px;
    padding-bottom: 30px;
}

.accordeon {
    padding-left: 100px;
    height: 750px;
    background-color: #fff;
}

.accord {
    color: $dark-blue;
    font-family: $circularSdtBold;
    // background-color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    padding: 18px;
    font-size: 20px;
    padding-left: 0;
}

.panel {
    color: $gray;
    font-family: $circularSdt;
    padding: 0 18px;
    background-color: #fff;
    display: none;
    overflow: hidden;
    max-height: 20;
    transition: max-height 0.2s ease-out;
    font-size: 20px;
}

.accordion:after {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: $red;
    float: left;
    margin-right: 10px;
}
