.color_degrade {
    top: 584px;
    left: 364px;
    width: 198px;
    height: 55px;
    background: linear-gradient(90deg, $red 0%, $orange 33%, $light-orange 75%, $light-blue 100%) 0% 0% no-repeat padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    text-align: left;
    font-family: $circularSdt;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0px;
}