@import "../../component/color";
@import "../../component/fonts";


.registerBtn {
    background-color: linear-gradient(104deg, #F55C32 0%, #F21F0B 100%) 0% 0% no-repeat padding-box !important;
    color: white;
    padding: 8px;
    margin: 25px;
    border-radius: 8px;
    background: transparent linear-gradient(104deg, #F55C32 0%, #F21F0B 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 191px;
    height: 55px;
    text-align: center;
    border:none;
}

.container {
    h4 {
    margin-top: 10%;

    }
}
.register {
    height: 60%;
    background: $white;
    margin-top: 200px;

    p {
        text-align: left;
        font-family: $circularSdt;
        font-size: 20px;
        letter-spacing: 0px;
        color: #918BA6;
        opacity: 1;
    }

    form {
        .container {
            margin-top: 0;
        }
    }
}

input {
    width: 260px;
    height: 55px;   
    background: $white 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    opacity: 1;
}

label {
    text-align: left;
    font-family:$circularSdt;
    font-size: 18px;
    letter-spacing: 0px;
    color: #BDBDBD;
    opacity: 1;
}